<app-header></app-header>
<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-md-6">
      <form [formGroup]="userForm" class="shadow p-4 rounded bg-light">
        <h2 class="text-center mb-4">Login</h2>
        <div class="mb-3">
          <label for="username" class="form-label ">Username</label>
          <input type="text" class="form-control" formControlName="username" placeholder="Enter your username">
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" formControlName="password" placeholder="Enter your password">
        </div>
        <div class="mb-3 text-center">
          <button class="btn btn-primary px-5" (click)="userSubmit()">Login</button>
        </div>
        <div *ngIf="errormsg" class="alert alert-warning text-center">{{ errormsg }}</div>
      </form>
    </div>
  </div>
</div>
