.custom-background {
    background-color: #f8f9fa; /* Warna latar belakang */
    padding: 100px; /* Padding untuk memberikan ruang di sekitar konten */
    border-radius: 10px; /* Border radius untuk membulatkan sudut elemen */
  }